form.form-horizontal
	div.control-group 
		label.control-label Исполнитель:
		label.controls
			select#agent
				[% for (var i=0; i<agents.length; i++) { %]
				option(value = "[%= agents[i].D$UUID %]") [%= agents[i].FULLNAME %]
				[% } %]
	div.control-group
		label.control-label Дата начала:
		label.controls
			div#dp1.input-append.date(data-date = "[%= content.PERIOD_BEG %]", data-date-format = "dd.mm.yyyy")
				input#date1.input-small(size = "16", type = "text", value = "[%= content.PERIOD_BEG %]")
				span.add-on
					i.icon-th
	div.control-group
		label.control-label План дата закр.:
		label.controls
			div#dp2.input-append.date(data-date = "30.05.2013", data-date-format = "dd.mm.yyyy")
				input#date2.input-small(size = "16", type = "text", value = "[%= content.PLAN_PERIOD_END %]")
				span.add-on
					i.icon-th
	div.control-group
		label.control-label Комментарий:
		label.controls
			textarea(rows = "3")
div.pull-left
	a.balloon-close.mark-delete-link.btn.btn-danger(href = "#") Удалить
div.pull-right.btn-group
	a.balloon-close.mark-save-link.btn.btn-primary(href = "#") Сохранить
	a.balloon-close.mark-cancel-link.btn(href = "#") Отмена
