

#balloonContent
	p
		table.table
			tr				
				td Исполнитель:
				td.text-error <%= SAGENT %>
			tr
				td Дата начала:
				td.text-error <%= PERIOD_BEG %>
			tr
				td План. дата закр.:
				td.text-error <%= PLAN_PERIOD_END %>
