
[% if (parseInt(content.VID_ID) === 0) { %]
Перекоп
[% } else { %]
Объезд
[% } %]

[% if (content.STREET !== null && typeof content.STREET !== "undefined") { %]
<small class="muted">[%= content.STREET %]</small>
[% } %]
