

#balloonContent
	p
		table.table
			tr				
				td Исполнитель:
				td.text-error [%= content.SAGENT %]
			tr
				td Дата начала:
				td.text-error [%= content.PERIOD_BEG %]
			tr
				td План. дата закр.:
				td.text-error [%= content.PLAN_PERIOD_END %]
