p

	form.form-horizontal

		.control-group
			label.control-label(for = "agent") Исполнитель:
			.controls
				input#agent(type = "text", value = "", placeholder = "Исполнитель")

		.control-group
			label.control-label Дата начала:
			label.controls
				div#dp1.input-append.date(data-date = "[%= date %]", data-date-format = "dd.mm.yyyy")
					input#date1.input-small(size = "16", type = "text", value = "")
					span.add-on
						i.icon-th

		.control-group
			label.control-label План дата закр.:
			label.controls
				div#dp2.input-append.date(data-date = "[% date %]", data-date-format = "dd.mm.yyyy")
					input#date2.input-small(size = "16", type = "text", value = "")
					span.add-on
						i.icon-th

		.control-group
			label.control-label Дата закрытия:
			label.controls
				div#dp3.input-append.date(data-date = "[%= date %]", data-date-format = "dd.mm.yyyy")
					input#date3.input-small(size = "16", type = "text", value = "")
					span.add-on
						i.icon-th

		.control-group
			label.control-label(for = "lat") Широта
			.controls
				input#lat(type = "text", value = "[%= parseFloat(coordinates[0]).toPrecision(6) %]", placeholder = "Широта")

		.control-group
			label.control-label(for = "lon") Долгота
			.controls
				input#lon(type = "text", value = "[%= parseFloat(coordinates[1]).toPrecision(6) %]", placeholder = "Долгота")

		.control-group
			label.control-label Комментарий:
			label.controls
				textarea#info(rows = "3", wrap = "hard")

.pull-right
	//.btn-group
	a.balloon-close.mark-create-link.btn.btn-success(href = "#") Создать
	&nbsp;
	a.balloon-close.mark-cancel-link.btn(href = "#") Отмена
