
div#modal-newmark.modal.hide.fade
	div.modal-header
		button(type="button", class="close", data-dismiss="modal") &times;
		h3 Создать объект?
	div.modal-body
		p
			.btn-group
				a.btn(href = "#") Сделать перекоп						
				a.btn(href = "#") Сделать объезд


	div.modal-footer
		a.btn(href="#", data-dismiss="modal") Закрыть
