
div#modal-newmark.modal.hide.fade
	div.modal-header
		button(type="button", class="close", data-dismiss="modal") &times;
		h3 Создать объект?
	div.modal-body
		p
			
			#newmark-toolbar.btn-group
				a.newmark-add-link.btn(href = "#", data-vid = "0", data-dismiss="modal") Сделать перекоп
				a.newmark-add-link.btn(href = "#", data-vid = "1", data-dismiss="modal") Сделать объезд


	div.modal-footer
		a.btn(href="#", data-dismiss="modal") Закрыть
