!!! 5
html
	head
		title standart-n
		meta(http-equiv = "Content-Language", content = "ru")
		meta(http-equiv = "Content-Type", content = "text/html; charset=utf-8")
		meta(name = "description", content = "standart-n")
		meta(name = "keywords", content = "standart-n")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
		// meta(name = "viewport", content = "user-scalable=no")
		link(href = "favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "favicon.ico", rel = "shortcut icon", type = "image/x-icon")
		link(href = "style/style.min.css", rel = "stylesheet", type = "text/css")
	body
		#sn
		#bar.navbar.navbar-static-top
			.navbar-inner
				.container-fluid
					.row-fluid
						.pull-left
							
							a.brand(href = "#") Перекопы и объезды							

							a#signin-link-phone.btn.btn-small.btn-navbar.hidden-phone(href = "#", data-toggle = "modal", data-target = "#modal-signin") 
								span.icon-user

	
						//- a.btn.btn-navbar(data-toggle = "collapse", data-target = ".nav-collapse")
						//- 	span.icon-bar
						//- 	span.icon-bar
						//- 	span.icon-bar

						//- .nav-collapse.pull-right

							//- a.signin-link.btn.btn-navbar.visible-phone(href = "#", data-toggle = "collapse", data-target = "#modal-signin") 
							//- 	i.icon-user
						//- .nav-collapse
						//- 	a.btn.btn-navbar(href = "#", data-toggle = "modal", data-target = "#modal-signin") 
						//- 		i.icon-user


						ul.nav.pull-right.hidden-phone
							li
								a.signin-enter-link(href = "#", data-toggle = "modal", data-target = "#modal-signin") 
									i.icon-user
									&nbsp;
									Войти
							li.hide
								a.signin-exit-link(href = "#") 
									i.icon-off
									&nbsp;
									Выйти



		#main
			#map.map-main


		div#modal-signin.modal.hide.fade
			div.modal-header
				button(type="button", class="close", data-dismiss="modal") &times;
				h3 Доступ к редактированию
			div.modal-body
				p
				
					.signin-alert-success.signin-alert.alert.alert-success.hide
						button.close(type="button", data-dismiss="alert") &times
						strong Поздравляем! 
						Вы успешно авторизовались

					.signin-alert-error.signin-alert.alert.alert-error.hide
						button.close(type="button", data-dismiss="alert") &times
						strong Ошибка! 
						Вы указали неверный логин или пароль


					form#signin-form.form-horizontal
						.control-group
							label.control-label(for = "signinLogin") Логин
							.controls
								input#signin-login(type = "text", value = "", placeholder = "Логин")
						.control-group
							label.control-label(for = "signinPassword") Пароль
							.controls
								input#signin-password(type = "password", value = "", placeholder = "Пароль")
						//- .control-group
						//- 	.controls
						//- 		label.checkbox
						//- 			input(type = "checkbox")
						//- 			Не запоминать
						.control-group
							.controls
								button.btn.btn-primary(type = "submit") Войти



			div.modal-footer
				a.btn(href="#", data-dismiss="modal") Закрыть




		#js
			script(src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU", type="text/javascript")
			script(src="lib/js/jQuery.1.8.3.min.js", type="text/javascript")
			script(src="script/bootstrap.js", type="text/javascript")
			script(src="script/sn.js", type="text/javascript")
			script(type="text/javascript")
				$(function(){
					$("#sn").sn();
				})




