!!! 5
html
	head
		title standart-n
		meta(http-equiv = "Content-Language", content = "ru")
		meta(http-equiv = "Content-Type", content = "text/html; charset=utf-8")
		meta(name = "description", content = "standart-n")
		meta(name = "keywords", content = "standart-n")
		meta(name = "Revesit", content = "3")
		meta(name = "Document-state", content = "Dynamic")
		meta(name = "Copyright", Lang = "eng", content = "2012 standart-n.ru")
		meta(name = "Copyright", Lang = "ru", content = "2012 НВП Стандарт-Н")
		meta(name = "robots", content = "all")
		meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
		// meta(name = "viewport", content = "user-scalable=no")
		link(href = "favicon.ico", rel = "icon", type = "image/x-icon")
		link(href = "favicon.ico", rel = "shortcut icon", type = "image/x-icon")
		link(href = "style/style.min.css", rel = "stylesheet", type = "text/css")
	body
		#sn
		#bar.navbar.navbar-static-top
			.navbar-inner
				.container-fluid
					.row-fluid
						.pull-left
							a.brand(href = "#") Перекопы и объезды
						
						ul.nav.pull-right
							li
								a.signin-link(href = "#", data-toggle = "modal", data-target = "#modal-signin") 
									i.icon-user
									&nbsp;
									Войти

		#main
			#map.map-main


		div#modal-signin.modal.hide.fade
			div.modal-header
				button(type="button", class="close", data-dismiss="modal") &times;
				h3 Авторизация
			div.modal-body
				p
					form.form-horizontal
						.control-group
							label.control-label(for = "signinLogin") Логин
							.controls
								input#signinLogin(type = "text", value = "", placeholder = "Логин")
						.control-group
							label.control-label(for = "signinPassword") Пароль
							.controls
								input#signinPassword(type = "password", value = "", placeholder = "Пароль")
						//- .control-group
						//- 	.controls
						//- 		label.checkbox
						//- 			input(type = "checkbox")
						//- 			Не запоминать
						.control-group
							.controls
								button.btn.btn-primary(type = "button") Войти



			div.modal-footer
				a.btn(href="#", data-dismiss="modal") Закрыть




		#js
			script(src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU", type="text/javascript")
			script(src="lib/js/jQuery.1.8.3.min.js", type="text/javascript")
			script(src="script/bootstrap.js", type="text/javascript")
			script(src="script/sn.js", type="text/javascript")
			script(type="text/javascript")
				$(function(){
					$("#sn").sn();
				})




