.container-fluid
	.row-fluid
		.span10.offset1
			.well

				.row-fluid
					.span10.offset1

						#signin-error.hide
							.alert.alert-error
								button.close(type = "button", data-dismiss = "alert") &times;
								strong Ошибка!
								Вы ввели неверный логин или пароль.	
						
						form#fSignin.form-horizontal
				
							.control-group
								label.control-label(for = "inputLogin") Логин
								.controls
									input#inputLogin(type = "text", placeholder = "login")
    
							.control-group
								label.control-label(for = "inputPassword") Пароль
								.controls
									input#inputPassword(type = "password", placeholder = "password")

							.control-group
								.controls
									button.btn(type = "submit") Войти
