
<p>
  <form class="form-horizontal">
    <div class="control-group">
      <label for="agent" class="control-label">Исполнитель:</label>
      <div class="controls">
        <input id="agent" type="text" value="[%= content.SAGENT %]" placeholder="Исполнитель"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Дата начала:</label>
      <label class="controls">[% if (content.PERIOD_BEG !== "undefined" && content.PERIOD_BEG !== null) { %]
        <div id="dp1" data-date="[%= content.PERIOD_BEG %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date1" size="16" type="text" value="[%= content.PERIOD_BEG %]" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>[% } else { %]
        <div id="dp1" data-date="[%= date %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date1" size="16" type="text" value="" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>[% } %]
      </label>
    </div>
    <div class="control-group">
      <label class="control-label">План дата закр.:</label>
      <label class="controls">[% if (content.PLAN_PERIOD_END !== "undefined" && content.PLAN_PERIOD_END !== null) { %]
        <div id="dp2" data-date="[%= content.PLAN_PERIOD_END %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date2" size="16" type="text" value="[%= content.PLAN_PERIOD_END %]" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>[% } else { %]
        <div id="dp2" data-date="[% date %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date2" size="16" type="text" value="" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>[% } %]
      </label>
    </div>
    <div class="control-group">
      <label class="control-label">Дата закрытия:</label>
      <label class="controls">[% if (content.PERIOD_END !== "undefined" && content.PERIOD_END !== null) { %]
        <div id="dp3" data-date="[%= content.PERIOD_END %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date3" size="16" type="text" value="[%= content.PERIOD_END %]" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>[% } else { %]
        <div id="dp3" data-date="[%= date %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date3" size="16" type="text" value="" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>[% } %]
      </label>
    </div>
    <div class="control-group">
      <label for="lat" class="control-label">Широта</label>
      <div class="controls">
        <input id="lat" type="text" value="[%= parseFloat(coordinates[0]).toPrecision(6) %]" placeholder="Широта"/>
      </div>
    </div>
    <div class="control-group">
      <label for="lon" class="control-label">Долгота</label>
      <div class="controls">
        <input id="lon" type="text" value="[%= parseFloat(coordinates[1]).toPrecision(6) %]" placeholder="Долгота"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Комментарий:</label>
      <label class="controls">
        <textarea id="info" rows="3" wrap="hard">[%= content.INFO %]</textarea>
      </label>
    </div>
  </form>
</p>
<div class="pull-left"><a href="#" class="balloon-close mark-delete-link btn btn-danger">Удалить</a></div>
<div class="pull-right">
  <!--.btn-group--><a href="#" class="balloon-close mark-save-link btn btn-primary">Сохранить</a>&nbsp;<a href="#" class="balloon-close mark-cancel-link btn">Отмена</a>
</div>