
<p>
  <form class="form-horizontal">
    <div class="control-group">
      <label for="agent" class="control-label">Исполнитель:</label>
      <div class="controls">
        <input id="agent" type="text" value="" placeholder="Исполнитель"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Дата начала:</label>
      <label class="controls">
        <div id="dp1" data-date="[%= date %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date1" size="16" type="text" value="" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>
      </label>
    </div>
    <div class="control-group">
      <label class="control-label">План дата закр.:</label>
      <label class="controls">
        <div id="dp2" data-date="[% date %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date2" size="16" type="text" value="" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>
      </label>
    </div>
    <div class="control-group">
      <label class="control-label">Дата закрытия:</label>
      <label class="controls">
        <div id="dp3" data-date="[%= date %]" data-date-format="dd.mm.yyyy" class="input-append date">
          <input id="date3" size="16" type="text" value="" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
        </div>
      </label>
    </div>
    <div class="control-group">
      <label for="lat" class="control-label">Широта</label>
      <div class="controls">
        <input id="lat" type="text" value="[%= parseFloat(coordinates[0]).toPrecision(6) %]" placeholder="Широта"/>
      </div>
    </div>
    <div class="control-group">
      <label for="lon" class="control-label">Долгота</label>
      <div class="controls">
        <input id="lon" type="text" value="[%= parseFloat(coordinates[1]).toPrecision(6) %]" placeholder="Долгота"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Комментарий:</label>
      <label class="controls">
        <textarea id="info" rows="3" wrap="hard"></textarea>
      </label>
    </div>
  </form>
</p>
<div class="pull-right btn-group"><a href="#" class="balloon-close mark-create-link btn btn-success">Создать</a><a href="#" class="balloon-close mark-cancel-link btn">Отмена</a></div>