
<form class="form-horizontal">
  <div class="control-group"> 
    <label class="control-label">Исполнитель:</label>
    <label class="controls">
      <select id="agent">
        [% for (var i=0; i<agents.length; i++) { %]
        [% if (agents[i].D$UUID.toString() == content.AGENT_D$UUID.toString()) { %]	
        <option value="[%= agents[i].D$UUID %]" selected="selected">[%= agents[i].FULLNAME %]</option>[% } else { %]
        <option value="[%= agents[i].D$UUID %]">[%= agents[i].FULLNAME %]</option>[% } %]
        [% } %]
      </select>
    </label>
  </div>
  <div class="control-group">
    <label class="control-label">Дата начала:</label>
    <label class="controls">
      <div id="dp1" data-date="[%= content.PERIOD_BEG %]" data-date-format="dd.mm.yyyy" class="input-append date">
        <input id="date1" size="16" type="text" value="[%= content.PERIOD_BEG %]" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
      </div>
    </label>
  </div>
  <div class="control-group">
    <label class="control-label">План дата закр.:</label>
    <label class="controls">
      <div id="dp2" data-date="30.05.2013" data-date-format="dd.mm.yyyy" class="input-append date">
        <input id="date2" size="16" type="text" value="[%= content.PLAN_PERIOD_END %]" class="input-small"/><span class="add-on"><i class="icon-th"></i></span>
      </div>
    </label>
  </div>
  <div class="control-group">
    <label for="lat" class="control-label">Широта</label>
    <div class="controls">
      <input id="lat" type="text" value="[%= coordinates[0] %]" placeholder="Широта"/>
    </div>
  </div>
  <div class="control-group">
    <label for="lon" class="control-label">Долгота</label>
    <div class="controls">
      <input id="lon" type="text" value="[%= coordinates[1] %]" placeholder="Долгота"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Комментарий:</label>
    <label class="controls">
      <textarea id="info" rows="3">[%= content.INFO %]</textarea>
    </label>
  </div>
</form>
<div class="pull-left"><a href="#" class="balloon-close mark-delete-link btn btn-danger">Удалить</a></div>
<div class="pull-right btn-group"><a href="#" class="balloon-close mark-save-link btn btn-primary">Сохранить</a><a href="#" class="balloon-close mark-cancel-link btn">Отмена</a></div>